::-webkit-scrollbar {
    width: 15px;
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border: 4px solid #171717;
    border-radius: 20px;
}

::-webkit-scrollbar-button {
    background: transparent;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('../../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
        url('../../fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviardreams';
    src: url('../../fonts/caviardreams-webfont.woff2') format('woff2'),
        url('../../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adam';
    src: url('../../fonts/adam-webfont.woff2') format('woff2'),
        url('../../fonts/adam-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'champagne-limousine';
    src: url('../../fonts/champagne__limousines-webfont.woff2') format('woff2'),
        url('../../fonts/champagne__limousines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    outline: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    background: #121212;
}

a{
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: transparent;
    z-index: 1;
    transition: .5s ease-in-out;
}

nav.black {
    background-color: rgba(39, 39, 39, 0.9);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
}

nav img {
    position: absolute;
    width: 55px;
    top: 50%;
    cursor: pointer;
    transform: translate(50%, -25%) scale(1.8);
    opacity: .8;
    transition: .3s ease-in-out;
}

nav.black img {
    transform: translate(50%, -50%) scale(1.4);
    opacity: 1;
}

nav ul {
    position: relative;
    display: flex;
    top: 50%;
    margin: 0 55px 0 0;
    padding: 0;
    float: right;
    transform: translate(0, -50%);
    transition: margin .3s ease-in-out;
}

nav.black ul {
    margin: 0 25px 0 0;
}

nav li {
    list-style: none;
}

nav li a {
    color: rgba(255, 255, 255, .6);
    font-family: 'caviardreams', sans-serif;
    font-size: 15pt;
    text-transform: uppercase;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    transition: .3s;
}

nav li a.actif {
    color: rgba(255, 255, 255, .9);
    cursor: default;
}

nav li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    /*transform: scale(1.1);*/
    font-size: 16pt;
    padding: 15px 25px;
}

nav.black li a:hover {
    border: none;
    background-color: rgba(255, 255, 255, .3);
    padding: 30px 25px;
}

nav li a.actif:hover {
    border-color: rgba(255, 255, 255, .9);
}

#menu {
    position: fixed;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    transition: .5s ease-in-out;
}

#menu-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 200px;
    background: #272727;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .6);
    transition: .3s;
}

#menu-video ul {
    position: relative;
    text-align: center;
    align-items: center;
    top: 50%;
    transform: translate(0, -50%);
}

#menu-video li {
    list-style: none;
}

#menu-video li a {
    display: block;
    position: relative;
    color: #fff;
    font-family: 'comfortaaregular', sans-serif;
    font-size: 15pt;
    padding: 10px 0;
    transition: .3s;
}

#menu-video li a:hover {
    padding: 15px 0;
    background-color: rgba(255, 255, 255, .2);
}

#menu-video a#ferm {
    position: absolute;
    color: #fff;
    font-size: 20pt;
    top: 15px;
    right: 20px;
}

#plus-menu {
    position: absolute;
    opacity: 0;
    width: 250px;
    height: 300px;
    background-color: #171717a8;
    right: 0;
    top: 85px;
    border-radius: 20px 0 0 20px;
    transform: scaleY(0);
    transform-origin: top;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: .3s ease-in-out;
}

nav.black #plus-menu{
    background-color: #171717;
    border-radius: 0 0 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

#plus-menu div{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#plus-menu a {
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    padding: 15px;
    font-family: sans-serif;
    transition: .3s;
}

#plus-menu a:hover{
    padding: 20px;
    background: rgba(255, 255, 255, .3);
}

.pin{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #171717a8;
    top: -15px;
    right: 75px;
    transition: .3s ease-in-out;
}

nav.black .pin{
    border-bottom-color: #171717;
    transform: scale(0);
    transform-origin: bottom;
}

.box{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 48px;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#first{
    background-image: url(../../images/sab.png);
}

#sec{
    background-color: #fff;
    background-attachment: scroll;
}

#third{
    background-image: url(../../images/Montain.png);
    background-attachment: fixed;
}

#fourth{
    background-color: #fff;
    background-attachment: scroll;
}

#fifth{
    background-image: url(../../images/The\ End\ 2.png);
    background-attachment: fixed;
}

.dark{
    color: black;
}

#side-menu{
    position: fixed;
    background: #272727;
    top: 50%;
    transform: translate(0,-50%);
    display: grid;
    width: 50px;
    height: 150px;
    border-radius: 0 25px 25px 0;
}

#side-menu a{
    color: #fff;
    text-align: center;
    transform: translate(0, 25%);
    font-family: 'champagne-limousine', sans-serif;
}

i{
    font-size: 50px;
    position: absolute;
    color: #fff;
}